* {
	box-sizing: border-box;
	padding: 0;
	margin:0;
}

/* cabecera */
.publicidad {
	padding: 1% 0% 0%;
}

.publicidad img {
	width: 100%;
	max-width: 1000px;
}

.publicidad .col-xs-6 {
	padding: 0px;
	line-height: 30px;
}

.bar-izq a {
	padding-right: 3%;
    font-size: 11px;
    color: #757474;
    font-weight: bold;
}

.publicidad .btn {
	padding: 1px 2px;
    font-size: 11px;
    font-weight: bold;
}

.publicidad .fa {
	padding-right: 1.5%;
	padding-left: 1.5%;
	font-size: 15px;
}

.publicidad .fa-facebook-f {
	color:#040d84;
}

.publicidad .fa-twitter {
	color:#1aa6fb;
}

.publicidad .fa-google-plus {
	color:#d80505;
}

.publicidad .fa-envelope {
	color:#fbb81a;
}

.publicidad .fa-rss {
	color:#ff3d00;
}

.publicidad a:focus,.publicidad a:hover {
    color: black;
    text-decoration: none;
}

.we {
	display: inline-block;
	border-right: 1px solid #dcd8d8;
    border-left: 1px solid #dcd8d8;
    width: 95px;
}

.publicidad .fa-search {
	color:#a2a2a2;
	padding-right: 7px;
}

.publicidad .form-control {
	display: inline-block;
	padding: 0.3rem;
    width: 65px;
   	border:none;
    border-radius: 0;
    font-size: 11px;
    background-color: transparent;
    font-weight: bold;
}

.publicidad .container {
	max-width: 1000px;
}
