/*REPORTAJE CIUDADANO Y MASCOTA*/
.bg-image{
	background-image:url(/image/trama_square.jpg);
	padding:0.8rem;
}
.bg-white{
	background-color: #fff;
}
.mb-2{
	margin-bottom: -2rem;
}
@media (max-width: 992px){
	.tittle-columnista{
		left: 40%;
	}
}
@media(max-width:768px){
	.tittle-columnista{
		left: 38%;
	}
}