* {
	box-sizing: border-box;
	padding: 0;
	margin:0;
}

/* cabecera */
.publicidad {
	padding: 1% 0% 0%;
}

.publicidad img {
	width: 100%;
	max-width: 950px;
}

.publicidad .col-xs-6 {
	padding: 0px;
	line-height: 30px;
}

.bar-izq a {
	padding-right: 3%;
    font-size: 11px;
    color: #757474;
    font-weight: bold;
}

.publicidad .form-control {
	display: inline-block;
    width: 60px;
    padding: .1rem .50rem;
    border-left: 1px solid #dcd8d8;
    border-right:none;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    font-size: 10px;
}

.publicidad .container {
	max-width: 950px;
}
/* footer*/
.derechos{
	font-size: 0.8em;
}
.foot-header{
	margin:35% 20%;	
}

.first{
	color:#848484;
	font-size: 0.8em;
}
.inferior{
	background-color: #E6E6E6;
}
.second{
	color:#848484;
	font-size: 0.8em;
	margin-right: 1%;
}
.foot-links{
margin-top: 15%;
margin-bottom: 10%;
}
.i-footer{
text-align: center;
font-size: 0.9em;
}
/*preguntas hoy -ayer*/
h2,h5{
	text-align: center;
}
.bg-green{
	background-color:#BEF781;
	box-sizing: border-box;
	width: 95%;
	text-align: center;
	font-weight: bold;
}
.bg-pink{
	background-color:#F5A9F2;
	box-sizing: border-box;
	width: 95%;
	text-align: center;
	font-weight: bold;
}
.bar{
	position: relative;
	height:2rem;
	background-image: url(../image/barprogress_bg.jpg);
	float: right;
	width: 50%;
	display: inline-block;
}

.progress{
	height: 2rem;
}
.radio{
	text-align: center;
}
.btn-default{
	text-align: center;
	padding: 1% 21%;
	background-color: #A90C07;
	color:#ffffff;
	border-radius: 6px;
	border:none;
	margin-top: 2%;
}

h6,.resultdos{
	font-size: 0.9em;
	font-weight: bold;
}
.hoy,.ayer{
	border:1px solid #E6E6E6;
	margin-bottom: 3%;
	padding-left: 3%;
	background-color: #ffffff;
}
.preguntas{
	background-image: url(../image/trama_square.jpg);
	background-size:inherit;
	padding:14% 4% 3%  3%;

}
.barprogress{
	margin-left: 39%;
	margin-top: -10%;
	margin-bottom: 4%; 
}
.resultados{
margin-top: 3%;
text-align: center;
font-weight: bold;
}
.subt{
	padding-top: 2%;
	font-weight: bold;
	font-size: 1em;
}
